body {
   margin: 0;
   overflow: hidden;
 }
 
 .parallax-item {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .parallax-item img {
   margin-left: 3rem;
   max-width: 120%;
   max-height: 120%;
 }